* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*changed header class to semantic element header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changed the div with seo to its own id*/
#seo {
    color: #d9dcd6;
}

/*changed navigation bar divs to nav*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*use semantic elements header and nav to condense css code*/
header nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: inline;
}

p {
    font-size: 15px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/*changed div to semantic element main to represent larger section on left side*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*changed the divs for the 3 main sections to the semantic element section to consoledate*/
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*condensed down code under semenatic element section as code was identical to all 3*/
section img {
    max-height: 200px;
}
/*condensed down code under semenatic element section as code was identical to all 3 divs*/
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*changed all the divs to the semantic element aside for the right side section*/
aside {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*changed the divs withing the right hand side section to article to consolidate css code*/
article {
    margin-bottom: 32px;
    color: #ffffff;
}
/*condensed down code under semenatic element article as code was identical to all 3*/
article h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*condensed down code under semenatic element article as code was identical to all 3*/
article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*changed the last div to semantic element footer, also added position: none to remove copyright to match example*/
footer {
    padding: 30px;
    clear: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: none;
}

footer h2 {
    font-size: 20px;
}
